fastapi
uvicorn
requests
pydantic
python-dateutil
dateparser
regex
rapidfuzz
sentence-transformers
pytest
spacy
sentence-transformers==2.7.0
torch
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
